name: Allure Test Report

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, firefox]
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Run tests with ${{matrix.browser}}
      env:
        TEST_USER_EMAIL_1: ${{ secrets.TEST_USER_EMAIL_1 }}
        TEST_USER_PASSWORD_1: ${{ secrets.TEST_USER_PASSWORD_1 }}
        TEST_USER_EMAIL_2: ${{ secrets.TEST_USER_EMAIL_2 }}
        TEST_USER_PASSWORD_2: ${{ secrets.TEST_USER_PASSWORD_2 }}
      run: mvn clean test -Dbrowser=${{ matrix.browser }}
      continue-on-error: true

    - name: Generate Allure Report with Maven
      if: always()
      run: mvn allure:report

    - name: Deploy report to Github Pages
      if: always() && matrix.browser == 'chrome'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: target/site/allure-maven-plugin
